In [1]:
import pandas as pd

In [4]:
df_prophet = pd.read_csv("submission.csv")
df_xgb = pd.read_csv("../submission.csv")

In [5]:
df_prophet.head()

                    id        orders
0  Prague_1_2024-03-16   9811.290130
1  Prague_1_2024-03-17   9780.438281
2  Prague_1_2024-03-18  10032.836392
3  Prague_1_2024-03-19   9752.995987
4  Prague_1_2024-03-20   9765.478298

In [6]:
df_xgb.head()

                    id     orders
0  Prague_1_2024-03-16  10666.279
1  Prague_1_2024-03-17   9996.533
2  Prague_1_2024-03-18   9635.741
3  Prague_1_2024-03-19   9501.884
4  Prague_1_2024-03-20   9538.978

In [7]:
average_pred = (df_prophet["orders"] + df_xgb["orders"]) / 2

output_df = pd.DataFrame({"id": df_xgb["id"],
                          "orders":average_pred})
output_df.head()

                    id        orders
0  Prague_1_2024-03-16  10238.784565
1  Prague_1_2024-03-17   9888.485640
2  Prague_1_2024-03-18   9834.288696
3  Prague_1_2024-03-19   9627.439993
4  Prague_1_2024-03-20   9652.228149

In [8]:
output_df.to_csv("submission_P_XGB.csv", index=False)
output_df.shape

(397, 2)